/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.color-buttom-custum {
  --background: radial-gradient(circle, rgba(15, 43, 181, 1) 52%, rgba(0, 255, 222, 1) 100%);
}

.border-custom-content {
  background: linear-gradient(#ccc, #ccc) padding-box,
    /*this is your grey background*/ linear-gradient(to right, rgba(15, 43, 181, 1), rgba(0, 255, 222, 1)) border-box;
  color: #313149;
  border: 5px solid transparent;
  display: inline-block;
}

ion-content {
  background: linear-gradient(#ccc, #ccc) padding-box,
    /*this is your grey background*/ linear-gradient(to right, rgba(15, 43, 181, 1), rgba(0, 255, 222, 1)) border-box;
  color: #313149;
  border: 5px solid transparent;
  display: inline-block;
}

.content-reverse {
  background: linear-gradient(#ccc, #ccc) padding-box,
    linear-gradient(to right, rgba(0, 255, 222, 1), rgba(15, 43, 181, 1)) border-box !important;
}

.toolbar-reverse {
  --background: linear-gradient(to right, rgba(0, 255, 222, 1), rgba(15, 43, 181, 1)) border-box !important;
}

ion-toolbar {
  --background: linear-gradient(to right, rgba(15, 43, 181, 1), rgba(0, 255, 222, 1)) border-box;
  color: white;
}

.custom-modal-form .modal-wrapper {
  height: 70%;
}

.color-blue {
  color: rgba(15, 43, 181, 1);
}
