#size-icon-login {
    font-size: 65vw;
}
.padding-form-login-top {
    padding-top: 2rem;
}

.padding-form-login-buttom {
    padding-bottom: 2rem;
}

#p-top-3 {
    margin-top: 4rem;
}

.color-icon-login {
    color: rgba(15, 43, 181, 1);
}

